@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Righteous', cursive;
  max-width: 100vw;
}
html{
  scroll-behavior: smooth;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  font-size: 10px;
}
body{
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  perspective: 1px;
  transform-style:preserve-3d;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-y: scroll;
  max-width: 100vw;
  position: relative;
  top: 0;
  
}
body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.container{
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  top: 0;

}
header::before,section::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: -1;
  box-shadow: inset 0 0 10px rgb(255, 255, 255);
}

header,section {
  min-height: 100vh;
  max-width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100vw;
  scroll-snap-align: start;
  position: relative;
  z-index: 2;
  border-bottom: .5vw solid rgb(0, 0, 0);
  overflow: hidden;

}
header{
  animation: fadeInTop .3s ease-in-out;
  align-items: left;
  background: url('https://i.pinimg.com/originals/df/0a/3e/df0a3e2ec30abb1c92d145ef165b714f.gif') no-repeat fixed right center/cover;
}
.project{
  background: url('https://cdn.dribbble.com/users/1069548/screenshots/6658499/nature-view-sunrise-800x600.gif') no-repeat fixed right center/cover;
  align-items: center;
}

.about{
  background: url('https://i.pinimg.com/originals/f9/fc/f4/f9fcf4d6c825698586c60c3fe14b22fd.gif') no-repeat fixed center center/cover;
}

.name-with-title {
  padding: 0 0 0 calc(1vw + 20px);
}
.name-with-title h1{
  animation: fadeInTop .25s ease-in-out;
  animation-duration: .8s;
  font-size: clamp(calc(2vw + 20px), calc(10vw + 3rem), 15vw);   
  color: transparent;
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: rgb(233, 233, 233);
  background: -webkit-linear-gradient(12deg,rgba(30, 5, 145, 0.837),rgba(245, 100, 22, 0.850),rgba(219, 74, 26, 0.95),rgba(239, 38, 27, 0.95),rgba(233, 22, 68, 1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Righteous', cursive;
  letter-spacing: .7vw;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out ;
  cursor: pointer;
}

.name-with-title p,.name-with-title p span{
  animation: fadeInBottom .3s ease-in-out;
  animation-duration: 1.5s;
  font-size: clamp(calc(3vw + 10px), calc(5vw + 1rem), 6vw);
  font-family: 'Righteous', cursive;
  color: transparent;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: rgb(172, 138, 138);
  background: -webkit-linear-gradient(10deg,rgba(30, 5, 145, 0.637),rgba(245, 100, 22, 0.50),rgba(151, 135, 130, 0.5),rgba(239, 38, 27, 0.5),rgba(255, 0, 55, 0.705));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: overline;
}

.name-with-title .creative{
  animation: textChange 3s ease-in-out both alternate infinite;
  transition: .3s ease-in-out;
  animation-delay: 1s;
}
nav{
  position: sticky;
  z-index: 3;
  animation: fadeInTopNav 2s ease-in-out both;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  animation: fadeInLeftBorder .3s ease-in 1s both;
  top: 0;
  left: 0;
  z-index: -1;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
nav div ul li {
  text-decoration: none;
  transition: 0.25s ease-in-out;
  padding: 0.75vw 1.5vw;
}

nav div ul li,nav ul li a,nav .social i{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: clamp(1vw, 1vw + 20px, 3vw);
  transition: 0.25s ease-in-out;
}
nav div ul li:hover{
  color: black;
  background-color: rgba(42, 200, 221, 0.3);
}
nav div ul li:hover a i {
  color: rgb(241, 150, 166);
}
nav div ul li .fa-phone{
  color: orange;
}
.project{
  padding: 1vh;
}
.project .project-header{
  font-size: clamp(1vw, 3vw + 20px, 5vw);
  padding: 1vh;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 9vh 0 7vh 0;
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  padding: 0 0 20vh 0;
  position: relative;
}

.flip-card {
  position: relative;
  background-color: transparent;
  width: 40vw;
  height: 55vh;
  perspective: 100vh;
  margin: calc(3vh + 2rem) 3rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 20px rgba(255, 255, 255, 0.952);
  box-shadow: inset 0 0px 20px rgba(0, 0, 0, 0.87);
}
.cards-grid .flip-card .cards-links {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  color: white;
  margin: auto;
}
.cards-grid img {
  width: 40vw;
  height: 55vh;
  border-radius: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  border-radius: 10px;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}
.flip-card-front {
  background-color: rgba(255, 255, 255, 0.534);
  color: black;
}
.flip-card-back {
  background-color: rgba(0, 0, 0, 0.514);
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back .card-content{
  position: relative;
  width: 75%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.flip-card-back__header {
  font-size: clamp(calc(1vw + 10px), calc(2vw + 1rem), 3vw);
  letter-spacing: 0.1vw; 
  font-weight: bolder;
  text-decoration: underline overline;
  text-underline-position: under;
  text-decoration-color: red;
  text-transform: uppercase;
  position: relative;
}
.flip-card-back .card-content .flip-card-back__paragraph{
  font-size: clamp(calc(.75vw + 5px), calc(1vw + 1rem), 2vw);
  letter-spacing: 0.1vw;
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 1vw 3vw;
  height: auto;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5);
}
.flip-card-back .card-content .flip-card-back__paragraph  .card-inside-link {
  text-decoration: none;
  color: rgb(194, 86, 86);
}
.tags{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.tags div {
  padding: .5vw 1vw;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 1vw;
}
.tags .html{
  background-color: rgba(255, 0, 0, 0.5);
}
.tags .css{
  background-color: rgba(115, 255, 0, 0.5);
}
.tags .js{
  background-color: rgba(90, 61, 160, 0.5);
}
.tags .react{
  background-color: rgba(172, 158, 206, 0.5);
}
.about {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 100vh;
  padding: 10vh 0;
}

.profile-img{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about h1{
  position: relative;
  font-size: 3vw;
  font-weight: lighter;
  text-shadow: 0 0 50px rgb(255, 255, 255);  
}
.profile-img img{
  border-radius: 50%;
  position: relative;
  border: 2px solid wheat;
  box-shadow: 0 0 50px rgb(255, 255, 255);
  height: 100%;
  margin: auto;
}
.about-content{
  text-align: center;
}
.about-content p {
  font-size: clamp(calc(.75vw + 5px), calc(2vw + 1rem), 3vw);
  color: aqua;
}
.form_about-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: 10vh ;
  padding: 2vh 0;
}
.form_about-section h3 {
  font-size: clamp(calc(.75vw + 5px), calc(2vw + 1rem), 3vw);
  letter-spacing: .1vw;
  font-weight: lighter;
}
.form_about-section label{
  display: block;
  font-size: clamp(calc(.75vw + 5px), calc(2vw + .5rem), 2vw);
  padding: .5vw 1vw;
  color: yellow;
  margin: 1vw 0;
}
.form_about-section input,.form_about-section textarea,.form_about-section .submit-btn{
  background-color: transparent;
  border: 1px solid orange;
  border-radius: 7px;
  color: white;
  outline: none;
  font-size: clamp(calc(.75vw + 5px), calc(2vw + .5rem), 3vw);
  padding: .5vw 1vw;
}
.form_about-section textarea{
  height: 30vh;
}
.form_about-section input:focus,.form_about-section textarea:focus{
  border: 1px solid pink;
  transition: .3s ease-in-out;
  outline: none;
}
.form_about-section input:hover{
  outline: none;
}

.form_about-section .submit-btn {
  background-color: orange;
  margin: 1vw 0;
  padding: .5vw 1vw;
  transition: .2s ease-in-out;
  cursor: pointer;
}
.form_about-section .submit-btn:hover{
  background-color: red;
  border: 1px solid red;
  transition: .2s ease-in-out;


}
.form_about-section .submit-btn:active{
  transform: scale(0.95);
  transition: .15s ease-in-out;
}
/* animation */
  @keyframes fadeInTop {
    from {
      opacity: 0;
      transform: translateY(-100vh);
      padding: 0;
    }
    to {
      opacity: 1;
      transform: translateY(0);
      padding: 1rem 0;
    }
  }
  @keyframes fadeInBottom {
    from {
      opacity: 0;
      transform: translateY(100vh)
    }
    to {
      opacity: 1;
      transform: translateY(0)
    }
  }
  @keyframes fadeInLeftBorder {
    from {
      border-bottom: none;
    }
    to {
      border-bottom: 0.25vw solid white;
      
    }
  }
  @keyframes textChange{
    0% {
      color: transparent;
      -webkit-text-stroke-width: 0px;
      -webkit-text-stroke-color: rgb(233, 233, 233);
      background: -webkit-linear-gradient(15deg,rgba(30, 5, 145, 0.637),rgba(245, 100, 22, 0.50),rgba(219, 74, 26, 0.5),rgba(239, 38, 27, 0.5),rgba(233, 22, 68, 0.5));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: .3s ease-in-out;
    }
    50% {
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgb(207, 207, 207);
      background: -webkit-linear-gradient(15deg,rgba(0, 0, 0, 0.527),rgba(255, 255, 255, 0.445));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: .3s ease-in-out;

    }
    100%{
      color: transparent;
      -webkit-text-stroke-width: 0px;
      -webkit-text-stroke-color: rgb(233, 233, 233);
      background: -webkit-linear-gradient(15deg,rgba(30, 5, 145, 0.637),rgba(245, 100, 22, 0.50),rgba(219, 74, 26, 0.5),rgba(239, 38, 27, 0.5),rgba(233, 22, 68, 0.5));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: .3s ease-in-out;

    }
  }
@keyframes mobile-header-anima {
  50%{
    transform: scale(1.05) translate(2vh,0);
  }
} 
@media only screen and (max-width: 900px){
  .cards-grid {
    grid-template-columns: repeat(1,1fr);
  }
  .flip-card {
    width: 90vw;
    height: 50vh;
  }
  .cards-grid img {
    width: 90vw;
    height: 50vh;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 501px){
  section{
    height: auto;
    min-height: 100vh;
  }
  nav{
    display: block;
  }
  nav .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav .menu li {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  nav .social ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  nav .social li:hover{
    color: black;
    background-color: rgba(0, 0, 0, 0);
  }
  .name-with-title h1{
    font-size: clamp(10vw,22vw,50vw);
  }

  .name-with-title p,.name-with-title p span{
    font-size: clamp(5vw,11vw,25vw);
    text-decoration: none;
    animation: textChange   2s ease-in-out infinite;
    animation-delay: 1s;

  }
  .name-with-title p .creative{
    animation: mobile-header-anima 2s ease-in-out infinite;
    display: block;
  }
  nav div ul li,nav ul li a,nav .social i{
    font-size: clamp(1vw, 4vw + 20px, 8vw);
  }
  .project{
    padding: 10rem 0 5rem 0;
  }
  .profile-img{
    margin-top: calc(10vh + 10rem);
  }
  .project .project-header{
    font-size: clamp(1vw, calc(7vw + 20px), 8vw);
    text-decoration: overline underline;
    text-underline-position: under;
    margin: calc(5vh + 10rem) 0 5vh 0;
  }
  .flip-card-back__header {
    font-size: clamp(calc(3vw + 10px), calc(5vw + 1rem), 6vw);
  }
  .flip-card-back .card-content .flip-card-back__paragraph{
    font-size: clamp(calc(2vw + 1rem), calc(2vw + 1.5rem), 3vw);
  }
  .tags div {
    font-size: clamp(2vw,3.5vw,6vw);
    padding: 1vw 2vw;
  }
  .cards-grid {
    grid-template-columns: repeat(1,1fr);
  }
  .flip-card {
    width: 80vw;
    height: 40vh;
  }
  .cards-grid img {
    width: 80vw;
    height: 40vh;
    border-radius: 10px;
  }
  .about h1{
    font-size: clamp(5vw,8vw,15vw);
    text-align: center;
  }
  .about-content p {
    font-size: clamp(4vw,6vw,8vw);
    width: 90%;
    margin: auto;
    line-height: 1.5;
    padding: 5vh 0;
  }

  .about-content::after{
    content: '***';
    position: relative;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    font-size: 25vw;
    color: pink;
  }
  .form_about-section h3 {
    font-size: clamp(5vw,10vw,15vw);
    letter-spacing: .2vw;
  }
  .form_about-section label{
    font-size: clamp(3vw,6vw,9vw);
    width: 90%;
    margin: auto;
  }
  .form_about-section input,.form_about-section textarea,.form_about-section .submit-btn{
    font-size: clamp(3vw,6vw,9vw);
    width: 90%;
    margin: auto;
  }
  .form_about-section .submit-btn {
    background-color: orange;
    margin: 5vw auto 10vw auto;
    padding: 3vw 0;
  }
}